body {
    background: white;
    color: #555555;
}
button {
    width: 80px;
    height: 30px;
    background: #555555;
    color: white;
}

#stopwatch {
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
}
#buttons {
    position: absolute;
    top: 55%;
    left: 48.6%;
    transform: translate(-51.4%, -45%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}